@model SnakeForm.Models.Comment

@{
    ViewData["Title"] = "Add a Comment";
}

<h2>Add a Comment</h2>

<form asp-action="CreateComment" asp-controller="Comments" method="post">
    <div class="form-group">
        <label asp-for="Content" class="control-label"></label>
        <textarea asp-for="Content" class="form-control" rows="4"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>

    <input type="hidden" asp-for="DiscussionId" />

    

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<a asp-action="GetDiscussion" asp-controller="Discussions" asp-route-id="@Model.DiscussionId">Back to Discussion</a>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
